{% extends 'base.html' %}
{% load static %}

{% block html_title %}
CHANGE PASSWORD
{% endblock %}

{% block content%}

{% include 'account/header.html' %}

<section>
    <div class="content container">
        <h1 class="selection_title">Change your password</h1>

        <form class="m-5 change_pwd_form" action="." method="post">
            <p class="text-muted">Use the form below to change your password</p> <br>
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn bg-success" type="submit" value="Change">
        </form>
        </div>
</section>


{% endblock %}