{% load static %}

<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">

    <div class="bg-dark p-4">
      <h5 class="text-white h4">My Social Site</h5>
      <span class="text-muted">Learning how to develop a social website.</span>


      <ul class="float-right header_navbar">
        <li class="active d-inline">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="d-inline">
          <a class="nav-link" href="#">Link</a>
        </li>

      </ul>
     </div>

  </div>
  <nav class="navbar navbar-dark navbar_out">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>


</div>